<div class="clearfix">
   <nav class="navbar navbar-light bg-secondary fixed-top">
      <div class="container-fluid">
        <a class="navbar-brand" href="#" style="color: #ffffff;">Dnd Hombrew Buddy</a>
       
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel" style="width: 300px; top: 56px;">
          <div class="offcanvas-header">
          
      </div>
      </div>  
    </nav>
</div>