<form action="" method="post">

   <div class="mb-3">
      <label for="input1" class="form-label">input 1</label>
      <input type="text" class="form-control" id="input1" aria-describedby="input1note">
      <div id="input1note" class="form-text">We'll never share your email with anyone else.</div>
    </div>
   <div class="mb-3">
      <label for="input2" class="form-label">input 2</label>
      <input type="text" class="form-control" id="input2" aria-describedby="input2note">
      <div id="input2note" class="form-text">We'll never share your email with anyone else.</div>
    </div>
   <div class="mb-3">
      <label for="input3" class="form-label">input 3</label>
      <input type="text" class="form-control" id="input3" aria-describedby="input3note">
      <div id="input3note" class="form-text">We'll never share your email with anyone else.</div>
    </div>
   
</form>